@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    /* background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; */
}

 header {
    text-align: center;
    background: red;
} 

img {
    margin: 5% auto;
    display: block;
    
}

footer {
    text-align: center;
}

.titulo {
    background: yellow;
    width: 250px;
    
}